<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>179.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1310},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>180.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1154},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>181.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1092},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>182.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1714},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1434},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>184.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1154},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,874},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,874},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,874},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>188.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1714},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>189.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1434},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>190.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1154},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>191.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,874},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,656},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>193.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,656},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>194.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,656},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>195.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1776},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>196.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1496},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>197.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1216},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>198.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,936},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>199.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,656},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>200.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1776},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>201.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1496},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>202.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1216},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>203.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,936},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>204.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,656},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,438},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,438},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>207.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,438},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>208.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,438},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>209.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,438},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>210.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1558},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>211.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1278},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>212.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,998},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>213.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,718},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>214.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,438},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>216.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>217.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>218.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>219.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>220.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>227.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>229.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>230.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>231.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>232.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
            <key>233.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,216}}</string>
                <key>sourceSize</key>
                <string>{278,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cutToCold.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:397e890d22b9af4817469ee809a32a1f:1/1$</string>
            <key>textureFileName</key>
            <string>cutToCold.png</string>
        </dict>
    </dict>
</plist>
