<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>115.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1452},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>119.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>123.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>127.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>131.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>135.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>139.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>143.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>147.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>151.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>159.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>163.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>171.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>175.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>179.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>183.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>187.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>191.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>195.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>199.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>203.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>207.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>211.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1452},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>219.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>231.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>235.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
            <key>239.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{948,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,498}}</string>
                <key>sourceSize</key>
                <string>{948,498}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>end2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8438ba1127b17c733b1f585fbe0943d:1/1$</string>
            <key>textureFileName</key>
            <string>end2.png</string>
        </dict>
    </dict>
</plist>
