<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2963,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>218.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>222.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>229.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>236.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>244.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>250.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>261.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>267.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>278.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>297.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>315.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>319.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>326.png</key>
            <dict>
                <key>frame</key>
                <string>{{2963,954},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>330.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,954},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>334.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,954},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>336.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,954},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>339.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>342.png</key>
            <dict>
                <key>frame</key>
                <string>{{2963,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>365.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>373.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>392.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>413.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>422.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>441.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>446.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>453.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>473.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>493.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>496.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>514.png</key>
            <dict>
                <key>frame</key>
                <string>{{2963,2},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>517.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>521.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
            <key>525.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{985,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{985,474}}</string>
                <key>sourceSize</key>
                <string>{985,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>movie4.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b252b9a6840a1fad18d2da09cc2413a:1/1$</string>
            <key>textureFileName</key>
            <string>movie4.png</string>
        </dict>
    </dict>
</plist>
