<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,750},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>124.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,750},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>125.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,750},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,563},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,563},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>128.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,563},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>129.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,563},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>130.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1639},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>131.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1349},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>132.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1059},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>133.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,563},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>134.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,769},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,479},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,376},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,376},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>138.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,376},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>139.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,376},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>140.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,376},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>144.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>145.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>146.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>147.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1639},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>148.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1349},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>149.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1059},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>150.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,769},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>151.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,479},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>152.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,189},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>156.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>157.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>158.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>159.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>160.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>161.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>163.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>164.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,750},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
            <key>166.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,288}}</string>
                <key>sourceSize</key>
                <string>{185,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>openDoor2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c197c542903e1913239a5447721c5595:1/1$</string>
            <key>textureFileName</key>
            <string>openDoor2.png</string>
        </dict>
    </dict>
</plist>
