<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{44,181}}</string>
                <key>offset</key>
                <string>{-132,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,135},{44,181}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{174,241}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,106},{174,241}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,243},{172,239}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,109},{172,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,484},{172,239}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,110},{172,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,241}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,109},{174,241}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,243},{172,239}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,111},{172,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{174,239}}</string>
                <key>offset</key>
                <string>{26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,111},{174,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{170,239}}</string>
                <key>offset</key>
                <string>{28,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,111},{170,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{76,207}}</string>
                <key>offset</key>
                <string>{-117,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,117},{76,207}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,484},{104,237}}</string>
                <key>offset</key>
                <string>{-103,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,92},{104,237}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{130,241}}</string>
                <key>offset</key>
                <string>{-90,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,92},{130,241}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,725},{154,239}}</string>
                <key>offset</key>
                <string>{-78,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,97},{154,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{168,241}}</string>
                <key>offset</key>
                <string>{-63,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,98},{168,241}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,729},{174,239}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,102},{174,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,488},{174,239}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,104},{174,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,731},{174,239}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,106},{174,239}}</string>
                <key>sourceSize</key>
                <string>{564,443}</string>
            </dict>
            <key>item1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,972},{49,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,40}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,970},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{32,28}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,972},{36,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{36,34}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>item3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,972},{42,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{63,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,144}}</string>
                <key>sourceSize</key>
                <string>{67,144}</string>
            </dict>
            <key>tooth.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,972},{152,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2Wath.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a49536d11053c378dd7e80a839053f4:1/1$</string>
            <key>textureFileName</key>
            <string>scene2Wath.png</string>
        </dict>
    </dict>
</plist>
