<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,101},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>47.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,57},{42,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>518.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{655,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,450}}</string>
                <key>sourceSize</key>
                <string>{655,450}</string>
            </dict>
            <key>519.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{65,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,144}}</string>
                <key>sourceSize</key>
                <string>{67,144}</string>
            </dict>
            <key>527.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,173},{169,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>53.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,178},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>570.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,148},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>589.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,148},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>874.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{588,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,435}}</string>
                <key>sourceSize</key>
                <string>{588,435}</string>
            </dict>
            <key>878.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{663,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,440}}</string>
                <key>sourceSize</key>
                <string>{663,440}</string>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{169,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,240}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>item1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7feb5e71ce5709251e51e12dd69f7b2f:1/1$</string>
            <key>textureFileName</key>
            <string>scene2all.png</string>
        </dict>
    </dict>
</plist>
